.Faq-content__quests {
  display: flex;
  align-items: center;
  font-family: var(--ff-kumbh-sans);
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  z-index: 10;
}

.Faq-content__quests .section-title {
  font-size: var(--fs-x);
  color: var(--black);
  font-weight: var(--fw-bold);
  margin: 0 0 34px;
}

/* Quest item */
.Faq-content__quest-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--light-grayish-blue);
  padding: 0 0 20px 0;
}

.Faq-content__quest-item:not(:first-of-type) {
  margin-top: 20px;
}

/* Quest */
.Faq-content__quest {
  display: flex;
  font-size: var(--fs-ss);
  align-items: center;
  cursor: pointer;
  font-family: var(--ff-kumbh-sans);
  justify-content: space-between;
  color: var(--black);
}

.Faq-content__quest-item svg {
  margin-left: 20px;
}

/* Answer */
.Faq-content__quest-answer {
  font-size: calc(var(--fs-ss) - 2px);
  line-height: 1.7;
  color: var(--grayish-blue-2);
  margin-top: 16px;
  display: none;
}

/* Active statex */
.is-active .Faq-content__quest {
  font-weight: var(--fw-bold);
}

.is-active .Faq-content__quest-answer {
  display: inline-block;
}

.is-active .Faq-content__quest svg {
  transform: rotate(180deg);
}

@media screen and (min-width: 1280px) {
  .Faq-content__quests {
    align-self: flex-start;
    align-items: flex-start;
  }

  .Faq-content__quest {
    font-size: var(--fs-s);
  }

  .Faq-content__quest-answer {
    font-size: var(--fs-ss);
  }
}
