/* Components */
@import "./WomanPattern/WomanPattern.css";

.Faq-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  padding-right: 98px;
  border-radius: 20px;
  margin: auto;
  max-width: 920px;
  width: 90%;
  padding: 138px 26px 48px 26px;
  position: relative;
}

.Faq-content .bg-pattern.only-mobile {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1280px) {
  .Faq-content {
    flex-direction: row;
    padding-left: 0;
    padding: 74px 74px 74px 0;
  }

  .Faq-content .bg-pattern.only-desktop {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .Faq-content .bg-pattern img {
    position: relative;
    left: -50%;
    top: -50%;
  }
}
